
@charset "UTF-8";
/* 全域border box  使padding內縮  */
/* 含偽元素*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
    /* height: 1500px; */
    margin-top: 13rem;
    font-family: "微軟正黑體";
    background-image: url(../images_2/background_shop.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    

}

/* 回到上方的按鈕 */
/* .toTop {
  position: fixed;
  font-size: 3rem;
  right: 1rem;
  bottom: 1rem;
} */
#go-top {
	position: fixed;  /* 畫面滾動時一直出現 */
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    background:rgba(123,136,111,0.3);
    color:#fff;
    text-align: center;  /* 左右置中 */
    line-height: 40px;   /* 上下置中 */
    text-decoration: none;
    border-radius: 50%;
}
#go-top:hover{
    background:rgba(123,136,111,1);
}

header {
  /* background: #ccc; */
  width: 100%;
  /* 使頁首定在body上方 */
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

header nav {
  background-color: black;
}

header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
}

header nav .navbar .ig-links {
  font-size: 0.875rem;
}

header nav .navbar .ig-links a {
  padding: 0 0.15rem;
  color: white;
}

header nav .navbar .ig-links a:first-child {
  border-right: 1px solid #ccc;
  padding-right: 0.5rem;
}

header nav .navbar .ig-links a img {
  vertical-align: text-bottom;
}

header nav .navbar .ig-links a:hover {
  color: orange;
}

header nav .navbar .space {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

header nav .navbar .links {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .navbar .links a {
  color: white;
  margin: 0 0.3rem;
}

header nav .navbar .links a i {
  margin-right: 0.25rem;
}

header nav .navbar .links a:hover {
  color: orange;
}

header .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .search .search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .search .search-wrap .logo-wrap {
  max-width: 200px;
}

header .search .search-wrap .logo-wrap img {
  width: 90%;
  vertical-align: bottom;
  cursor: pointer;
}

header .search .search-wrap .search-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search .search-wrap .search-food .search-input {
  border: 2px solid #aaa;
  border-radius: 100px;   
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

header .search .search-wrap .search-food .search-input input, header .search .search-wrap .search-food .search-input button {
  background-color: transparent;
  color: #aaad;
  border: none;
  height: 2rem;
}

header .search .search-wrap .search-food .search-input input {
  width: 40rem;
}

header .search .search-wrap .search-food .search-input input:focus {
  outline: none;
}

header .search .search-wrap .search-food .search-input button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

header .search .search-wrap .search-food .food-trending a {
  color: black;
  font-size: 0.875rem;
  padding: 0 1rem;
}

header .search .search-wrap .search-food .food-trending a:hover {
  color: orange;
}

header .search .search-wrap .search-ticket {
  max-width: 200px;
  position: relative;
  margin-left: 0.5rem;
  /* 父層被hover 子層做事情*/
}

header .search .search-wrap .search-ticket img {
  width: 100%;
  vertical-align: bottom;
  opacity: 0.2;
  
  
}

header .search .search-wrap .search-ticket .txt {
  /* background-color: rgba(0, 0, 0, 0.5); */
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* 使文字垂直居中 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* x軸居中對齊 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* y軸居中對齊 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search .search-wrap .search-ticket .txt h2 {
  color: #555555;
}
/* 鼠標一上去出現優惠券專區背景 */
/* header .search .search-wrap .search-ticket:hover .txt {
  background-color: #ccc;
  opacity: 0.7;
} */

header .search .search-wrap .search-ticket:hover .txt h2 {
  color: black;
}

header .search .search-wrap .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search .search-wrap .member a {
  padding: 0 1rem;
  color: black;
}

header .search .search-wrap .member a:first-child {
  border-right: 1px solid black;
}

header .search .search-wrap .member a:last-child {
  display: block;
  padding: 0;
}

header .search .search-wrap .member a:last-child i {
  
  font-size: 1.8rem;
  color: #555;
}

header .search .search-wrap .member a:hover {
  color: orange;
}
/*夜市簡介 背景 */
/* header .tab {
  background-color: black; 
} */

header .tab .tab-warp {
  position: relative;
}

header .tab .tab-warp .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tab .tab-warp .tab-list a {
  font-size: 1rem;
  text-align: center;
  color: #444444;
  width: 11rem;
  padding: 1rem 0rem;
}

header .tab .tab-warp .tab-content {
  background-color: white;
  position: absolute;
  /* 調整左邊 border線 與導覽列同X軸 */
  left: 15%;
  /* 控制右邊 border線 */
  width: 55rem;
}

header .tab .tab-warp .tab-content .tab-panel {
  border: 2px solid #ccc;
  padding: 0 1rem;
  display: none;
}

/*** addClass 類別使用 ****/
.liColor {
  background-color: rgba(206, 16, 16, 0.5);
}

/* iPhone XS Max Viewport RWD 414*896 */
@media (max-width: 415px) {
  header nav .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .navbar .ig-links a {
    padding: 0 0.2em;
  }
  header nav .navbar .space {
    color: white;
  }
  header nav .navbar .links li {
    padding: 0 1em;
  }
}

/*---------------------header 結束--------------------------------*/


/* .clearfix{
    clear: both;
} */
#header_container{
    max-width: 100%;
    height: 100px;
    background: purple;
}
.header_image>img{
    max-width: 100%;
}

/* 商品標頭 */
.new_container{
    /* background: #aaaaaa; */
    margin: 50px 0;
    padding: 10px 0;
}
.new_product{
    padding: 10px 0;
    text-align: center;
    /* background: #cccccc; */
}
.new_product h1{
    position: relative;
    display: inline-block;
    letter-spacing: 8px;
    color: #777777;
} 
.new_product h1::before{   /*讓括號在主要文字前面*/
    content: "";
    position: absolute;
    background: url(../images_2/左邊中括號.png) no-repeat;
    width: 30px;
    height: 45px;
    top: -5px;
    left: -40px;
    background-size: contain;
    opacity: 0.5;
}
.new_product h1::after{   /*讓括號在主要文字後面*/
    content: "";
    position: absolute;
    background: url(../images_2/右邊中括號.png) no-repeat;
    width: 30px;
    height: 45px;
    top: -5px;
    right: -40px;
    background-size: contain;
    opacity: 0.5;
}

#main{
    /* margin-top: 500px; */
    width: 80%;
    margin: 0 auto;
}

/* 商品大區塊 */
.shoppingArea{
    position: relative;
    display: flex;
}

/* 左半邊 */
aside{
    /* background: green; */
    position: absolute;
    left: 0;
    width: 20%;
    /* float: left; */      
   
}
.left_container{
    background: #EDD9D9;
    padding-top: 15px;
    height: auto;
    border-radius: 5px;
    
}
.onlineShop{
    display: flex;
    justify-content: center;
    background: #C39C9C;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
    color: #ffffff;
}
.onlineShop h3{
  margin: 5px;
}
.items{
    padding: 30px 0;
    margin-left: 20px;
}
.items a{
    color: #333333;
    text-decoration: none;
    letter-spacing: 6px;
    transition: .5s;
}
.items a:hover{
    border-radius: 5px;
    background: #ffffff;
    opacity: 0.6;
}
.hr{
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgba(255,255,255,.6);
}

/* 右半邊區塊  使用頁面： 2_shopping.html  3_商品頁面 */   
.right_container{
    position: absolute;
    /* display: flex;
    flex-wrap: wrap; */
    right: 0;
    width: 73%;
    padding-top: 30px;
    background: #EDD9D9;
    border-radius: 5px;
}
.productBox{
    padding: 0 30px;
}
/* 商品資訊照片 */
.productUpBox{
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
    /* background-color: green; */
}
.productImage{
    max-width: 60%;
}
.productImage img{
    width: 100%;
}

/* 商品資訊 */
.productIntro{
    position: relative;
    width: 35%; ;
    
    /* background-color: purple; */
}
/* 商品資訊元素共用屬性 */
.productName h3, .inputCountBox, .selectSizeBox, .cartBtn, .buyBtn, .productName h4,.dropdownList li{
  letter-spacing: 2px;
  color: #444444;
}
.productName h3{
  display: inline-block;
}
.productName span{
  cursor: pointer;
  color: #555555;
}
.productName h4, .productName h3{
  margin-top: 0;
  margin-bottom: 10px;
}
/* 讓價格與數量在同一列，並且各自左右擺放 */
.productPrice{
    display: flex;
    justify-content: space-between;
    margin:25px 0;
}
.productPrice span{
    letter-spacing: 1px;
    color:#BE5555;
}
.inputCountBox,.selectSizeBox{
    display: flex;
    justify-content: space-between;
    color: #555555;
    margin-bottom: 30px;
}
.inputCountBox label,.selectSizeBox label{
  align-self: center;
}
/* input寬度 與 select 框 是 包住它的div的72% */
.inputCountBox input, .selectSizeBox select{
    width: 72%;
    padding: 5px 0;
    border-radius: 3px;
    border: 1px #ccc solid;
    color: #aaaaaa;
}
.inputCountBox input:focus{
    outline: none;
}

/* 按鈕部分 */
.shopBtn{
    display: flex;
    justify-content: space-between;
}
.cartBtn, .buyBtn{
    width: 7rem;
    padding:10px;
    background-color: #C39C9C;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
} 

.cartBtn:hover,.buyBtn:hover{
  background: #d2b3b3;
  color: #555555;
}

/* -----------下半部:頁籤-------------------------------------- */
.tabs_content .tabs_panel{
  display: none;
}
#tab_nav{
  margin-bottom: 50px;
}
#tab_nav a{
  font-size: 1.1rem;
  color: #555555;
}
#tab_nav .tab_selected{
  background-color: #C39C9C;
  color: #ffffff;
}
/* 必須讓第一個頁面先出現，其他的tab_panel點到才會出現 */

/* ---------透過jQuery 加入的 動畫(class)------ */
.animated_tabs{
  animation-duration: .5s;
  animation-fill-mode:forwards;   /*forwards 動畫結束後保持最後結束的樣子*/
}
.show_panel{ 
  animation-name: show_panel; 
}
@keyframes show_panel{
  from {
    opacity: 0;
    animation-timing-function: ease-in-out;
  } 
  to {opacity: 1;} 
}

/* 頁籤第二頁 (評論內容) */
.commentBox{
  margin-bottom: 20px;
  border: 1px rgba(195,156,156,.5) solid;
  border-radius: 8px;
  padding-right: 10px;
  box-shadow: 2px 2px 2px rgba(195,156,156,.5) ;
 
  /* background-color: purple; */
}
.memberInfo{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.putLeft{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.putLeft .memberImage{
  margin: 0 20px;

  max-width: 5%;
}
.memberImage img{
  width: 100%;
}
.putLeft .memberId{
  width: 170px;
  font-size: 1.2rem;
  color: #555
  ;
}
.putLeft .nickname{
  width: 250px;
  font-size: 1.2rem;
  color: #555
}
.putLeft .comment_score{
  font-size: 1.1rem;
  color: #555
}
.commentBox .comment_content{
  width: 78%;
  margin: 10px auto;
  margin-bottom: 30px;
}
.memberInfo .fa-ellipsis-v{
  opacity: .7;
  cursor: pointer;
}

/* 點選doMore 會出現下拉選單 */
.doMore{
  position: relative;
}
/* 讓選單可以出現在外面，不會影響到內文排版 */
.dropdownList{ 
  display: none;  /*一開始隱藏起來 */ 
  position: absolute;
  width: 70px;
  text-align: center;
  right: -72px;
  top: 0;
  background-color: #ffffff;
}
.dropdownList li{
  font-size: 1.1rem;
  color: #777777;
  padding: 7px;
  border: 1px solid #eeeeee;
}
.active {
  display: block;
}