@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
  font-family: 'Fredoka One', cursive;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.login-bg {
  background: url(./img/yachiLogo_change.png);
  height: 700px;
  padding: 100px;
}

.main {
  background: url(./img/Vermicelli2.jpg);
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.focus h1 {
  font-size: 3rem;
}
div h5 {
  font-size: 1.3rem;
}

.jobs-voucher-bg{
  background: url(./img/soybean\ pudding.jpg);
}

.jobs{
  height: 8 00px;
  background-position: center;
  background-size: cover;
  padding: 40px;
}



@media screen and (max-width: 768px){
  .focus h1 {
    font-size: 4rem;
  }
}
